<header>
	<div class="header-container">
		<h1>電子機器管理システム</h1>
		<nav>
			<ul>
				<li class="has-child"><a href="/rental">貸出情報</a>
					<ul>
						<li><a href="/rental">貸出中機器</a></li>
						<li><a href="/rental/entry">貸出申請</a></li>
						<li><a href="/rental/history">貸出履歴</a></li>
					</ul>
				</li>
				<li class="has-child"><a href="/device">機器情報</a>
					<ul>
						<li><a href="/device">機器一覧</a></li>
						<li><a href="/device/entry">新規追加</a></li>
					</ul>
				</li>
				<li class="has-child"><a href="/user">利用者情報</a>
					<ul>
						<li><a href="/user">利用者一覧</a>
						<li><a href="/user/entry">新規登録</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>
<footer>
	<p id="page-top"><a href="#"></a></p>
</footer>